<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<h1> List of Books </h1>
<% @user.books.each do |book| %>
  <div class ="large-2 columns">
    <h1><%= book.title %></h1>
    <p> <%= book.author %></p>
  </div>
<% end %>

